div, span {
  color: white;
  font-family: Trebuchet MS, sans;
  font-size: 0.95em;
}

h1 {
  font-family: Garamond, Serif;
  font-size: 2.2em;
}

@font-face {
    font-family: Zawgyi-One;
    src: url(Zawgyi-One.v1.ttf);
    unicode-range: U+1000-1097;
}
.zawgyi {
    font-family: Zawgyi-One;
}


a:link {
  color:#00CCFF;
}
a:visited {
  color:#FFFF00;
}
a:active {
  color:#00CCFF;
}

.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}

.mt40 {
  margin-top:40px;
}
.mb40 {
  margin-bottom:40px;
}
.ml40 {
  margin-left:40px;
}
.mr40 {
  margin-right:40px;
}

.spacer {
  height: 100px;
}

.upabit {
  position:relative;
  float: left;
  top:0px;
  left:9px;
  width:300; 
  height: 248;
}

.upatinybit {
  position:relative;
  top:-35px;
  left:0px;
}

.upatinybitmore {
  position:relative;
  top:-80px;
  left:0px;
}

.linktxt {
  position:relative;
  top:-35px;
  left:-195px;
  color:cyan;
  font-family: Arial, sans;
  font-size: 1.8em;
}

.sidebar {
  float: right;
  position: relative;
  top: 450px;
  left: -630px;
  text-align: left;
}

.sidelink {
  text-decoration: none;
  color: #44FFAA;
  position: relative;
  left: 0px;
  top: 0px;
  text-shadow: #000088 -1.5px -1.5px 1.5px;
}

.hrsep {
  padding-top: 30px;
  padding-bottom: 30px;
}

.helptbl {
  margin-bottom:20px; 
  margin-top:10px;
}

.ninjalink {
  text-decoration: none;
}

.linkclr {
  color: #00CCFF;
}

.helpbigtxt {
  font-size: 1.25em; 
  color: #00CCFF;
}

.helptinytxt {
  color:white; 
  padding-left: 10px; 
  padding-bottom:10px; 
  padding-top: 8px;
}

.downloadlink {
  font-size: 12px; 
  position:relative; 
  top:3px;
}

.sitelinkrow1 {
  background:#114411;
}
.sitelinkrow2 {
  background:#666600;
}

.sitelinkbord1 {
  border-left: 4px solid #2A2;
}

.sitelinkbord2 {
  border-left: 4px solid #CC2;
}

.sitelinkname {
  padding-right:50px; 
  color:#CCC;
}

.linkimgbkgrd {
  width:80px; 
  height:80px; 
  padding-bottom:10px;
}

.linkimgfore {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  max-width:80px;
  max-height:80px;
}

.glwt {
  border: 1px solid green; 
  color:white;
}

.glr {
  border-right: 1px solid green; 
}
.gll {
  border-left: 1px solid green; 
}
.glt {
  border-top: 1px solid green; 
}
.glb {
  border-bottom: 1px solid green; 
}