Source: libwaitzar
Section: utils
Priority: optional
Maintainer: Seth N. Hetu <sorlok_reaves@yahoo.com>
Homepage: http://code.google.com/p/waitzar/
Vcs-Browser: http://code.google.com/p/waitzar/source/browse/#svn/trunk/cross_platform_library
Vcs-Svn: http://waitzar.googlecode.com/svn/trunk/cross_platform_library
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.14.13), autotools-dev, pkg-config
Standards-Version: 3.8.0

Package: libwaitzar
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Encapsulation of the WaitZar Burmese language model
 This package encapsulates and provides a C++ API for accessing
 the WaitZar language model used by scim-waitzar and WaitZar on Windows.
 It was developed as a cross-platform library, mainly to facilitate 
 porting the WaitZar IME to various platforms. It is also intended to
 make it easier to perform research on the WaitZar language model by
 opening and documenting the same code used by scim-waitzar.
 .
 WaitZar features its own custom romanisation, designed to be both
 easier to learn and faster to type than other Burmese romanisations.
 The libwaitzar package ships with the WaitZar romanisation, instructions
 on how to load it, and a sample custom dictionary for user-defined words.
 .
 This package provides basic functionality  needed by the scim-waitzar package.
