//
// This file is now maintained entirely by hand
//

#include "windows.h"
#include "resource.h"



//Set the following resources to be tagged as "EN_US".
//Can be retrieved with EnumResourceLanguages() and FindResourceEx().
//We'll leave this in as a matter of style; we don't use resource bundles per se.
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif



////////////////////////////////
// General Resources
////////////////////////////////


//The application Icon
IDI_WAITZAR             ICON           "wz.ico"

//Other Icons
IDI_ENGLISH             ICON           "wz_eng.ico"
IDI_MYANMAR             ICON           "wz_mm.ico"
IDI_LOADING             ICON           "loading.ico"

//Embedded Data Files
IDR_WAITZAR_MODEL       MODEL          "Myanmar.model"
IDR_WAITZAR_EASYPS      MODEL          "easypatsint.txt"
IDR_DEFAULT_CONFIG      MODEL          "default-config.json.txt"
IDR_PADAUK_ZG           MODEL          "pdkzg.ttf"

//Pulp Core Fonts -- Essential
IDR_MAIN_FONT           COREFONT       "waitzar.font.png"
IDR_SMALL_FONT          COREFONT       "waitzar_small.font.png"

//Pulp Core Fonts -- Help Keyboard (hope to eliminate some day)
IDR_HELP_KEY_FONT       COREFONT       "help_ar_letters.font.png"
IDR_HELP_FORE_FONT      COREFONT       "help_zg_main.font.png"
IDR_HELP_BACK_FONT      COREFONT       "help_zg_sub.font.png"
IDR_HELP_CORNER_IMG     COREFONT       "keybd_corner.png"

//Pulp Core Images -- Pagination (should reduce to just 1 & some post-processing)
IDR_PGDOWN_COLOR        COREFONT       "pg_down_color.png"
IDR_PGUP_COLOR          COREFONT       "pg_up_color.png"
IDR_PGDOWN_SEPIA        COREFONT       "pg_down_sepia.png"
IDR_PGUP_SEPIA          COREFONT       "pg_up_sepia.png"




//////////////////////////////////
// Dialogs, Controls, Menu Items
//////////////////////////////////


//Menu
IDM_CONTEXT_MENU MENU
BEGIN
    POPUP "Main"
    BEGIN
        MENUITEM "&Help/About",                 IDM_HELP
        MENUITEM "&Settings",                   IDM_SETTINGS
        MENUITEM "E&xit",                       IDM_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&English (Alt+Shift)",        IDM_ENGLISH, CHECKED
        MENUITEM "&Myanmar (Alt+Shift)",        IDM_MYANMAR
        MENUITEM SEPARATOR
        POPUP "Typing"
        BEGIN
            MENUITEM "(To Delete)",             IDM_DELETE_ME
        END
        MENUITEM "&Look Up Word (F1)",          IDM_LOOKUP
    END
END


//Blank (template) dialog
IDD_BLANK DIALOGEX 0, 0, 100, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif", 400, 0, 0x0
BEGIN
END




